@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ff0000;
}

body {
  position: relative;
  background: #000000;
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

/* Header */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  z-index: 1000;
}

.logo {
  font-size: 30px;
  color: white;
  letter-spacing: 2px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
}

.header-right {
  display: flex;
  align-items: center;
}

.menu {
  color: white;
  font-size: 2rem;
  transition: 0.5s;
}

.menu.active {
  transform: rotateY(180deg);
}

.nav {
  display: flex;
  margin-right: 50px;
}

.nav li {
  list-style: none;
  margin: 0 20px;
}

.nav li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
  padding: 10px;
}

.nav li a:hover {
  color: var(--primary);
}

/* Nav Mobile */

.nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 990;
  gap: 20px;
  opacity: 0;
  visibility: hidden;
}

.nav-mobile.active {
  opacity: 1;
  visibility: visible;
}

.nav-mobile li {
  position: relative;
  list-style: none;
}

.nav-mobile li a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
  padding: 10px;
}

.nav-mobile li a:hover {
  color: var(--primary);
}

/* Banner */

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  perspective: 1000px;
}

.banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );
}

.banner .share {
  position: absolute;
  top: 45%;
  left: 50px;
  transform: translateY(-50%);
  color: white;
  font-size: 2rem;
  z-index: 1000;
  cursor: pointer;
  transition: 0.5s;
}

.banner .share:hover {
  color: var(--primary);
}

.banner .share::before {
  position: absolute;
  content: "";
  top: 40px;
  left: 50%;
  width: 2px;
  height: 100px;
  background: white;
}

/* Triangle */

.triangle {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 30vh;
  height: 30vh;
  clip-path: polygon(0 0, 50% 87%, 100% 0);
  cursor: pointer;
  z-index: 900;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.triangle-inverse {
  position: absolute;
  content: "";
  top: 0;
  left: calc(15vh + 5vh);
  width: 30vh;
  height: 30vh;
  clip-path: polygon(0 100%, 50% 13%, 100% 100%);
  cursor: pointer;
  z-index: 900;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.triangle.two {
  left: calc(30vh + 10vh);
}

.triangle.three {
  left: calc(60vh + 20vh);
}

.triangle.four {
  top: calc(30vh + 5vh);
  left: calc(15vh + 5vh);
}

.triangle.five {
  top: calc(30vh + 5vh);
  left: calc(45vh + 15vh);
}

.triangle.six {
  top: calc(60vh + 10vh);
  left: calc(30vh + 10vh);
}

.triangle.seven {
  top: calc(60vh + 10vh);
  left: calc(60vh + 20vh);
}

.triangle-inverse.two {
  left: calc(45vh + 15vh);
}

.triangle-inverse.three {
  top: calc(30vh + 5vh);
  left: calc(30vh + 10vh);
}

.triangle-inverse.four {
  top: calc(60vh + 10vh);
  left: calc(45vh + 15vh);
}

.triangle-inverse.five {
  top: calc(60vh + 10vh);
  left: calc(75vh + 25vh);
}

/* 3D flipping Effect */

.triangle:hover,
.triangle-inverse:hover {
  transform: rotateY(360deg);
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.triangle:hover .flip-card,
.triangle-inverse:hover .flip-card {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-front {
  color: #ffffff;
}

.flip-card-back {
  background: var(--primary);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
}

.flip-card-back .play {
  font-size: 3rem;
  color: white;
  transition: 0.5s;
  transform: scale(1);
}

.flip-card-back .play:hover {
  transform: scale(1.5);
}

.triangle-inverse .flip-card-back {
  padding-top: 150px;
}

.triangle-inverse img,
.triangle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.triangle-inverse video,
.triangle video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.video-container.active{
    border: 6px solid var(--primary);
}

.banner .bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.banner .bg-video.active{
    visibility: visible;
    opacity: 1;
}

/* Banner Title */

.banner-title{
    position: absolute;
    right: -10%;
    top: 0;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.banner-title h1{
    color: white;
    font-size: 16rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    width: 100%;
    z-index: 900;
    font-weight: 800;
    line-height: .8;
}

.banner-title .text-special{
    position: absolute;
    font-size: 35rem;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
    opacity: .5;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0%{
        transform: translate(-80%, -50%) rotateY(0deg);
    }

    100%{
        transform: translate(-80%, -50%) rotateY(360deg);

    }
}


.banner-title .subtitle{
    position: relative;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    z-index: 900;
}

/* Banner Content */

.banner .content{
    position: absolute;
    z-index: 1000;
    bottom: 100px;
    left: 100px;
    color: white;
    width: 400px;
    height: auto;
}

.banner .content a{
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: .5s;
}

.banner .content a:hover{
    color: var(--primary);

}

/* Social Icons */

.sci{
    position: absolute;
    bottom: 40px;
    right: 100px;
    color: #ffffff;
    display: flex;
    list-style: none;
    z-index: 1000;
    gap: 40px;
}

.sci li a{
    color: #ffffff;
    font-size: 1.5rem;
    transition: .5s;
}

.sci li a:hover{
    color: var(--primary);
}